<section class="">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form class="login-form box">
            <div class="field">
              <label for="email-login" class="label">Email:</label>
              <input type="text" placeholder="jondoe@gmail.com" id="email-login" />
            </div>
            <div>
              <label for="password-login" class="label">Password:</label>
              <input type="password" placeholder="********" id="password-login" />
            </div>
            <div>
              <button type="submit" class="button is-success">Login</button>
            </div>
          </form>

          <form class="signup-form box">
            <div class ="field">
              <label for="username-signup" class="label">Username:</label>
              <input type="text" placeholder="JDoe" id="username-signup" />
            </div>
            <div>
              <label for="email-signup" class="label">Email:</label>
              <input type="text" placeholder="jondoe@gmail.com" id="email-signup" />
            </div>
            <div>
              <label for="password-signup" class="label">Password:</label>
              <input type="password" placeholder="*******" id="password-signup" />
            </div>
            <div>
              <button type="submit" class="button is-success">Signup</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/javascript/login.js"></script>